.login{
	width: 400px;
	height: 400px;
	background-color: whitesmoke;
	position: absolute;
    opacity: 0.95;
}

.tabul{
	list-style:none;
	display:flex;
	margin: 0; padding: 0px; 
	height: 50px;
	font-weight:bold;
	align-items: center;
	font-size: 1.2em;

}
.tabul a{
	flex:1;
	border-bottom:1px solid;
	text-align:center
		
}
.tabli{
	color:	#4169E1;
	border-bottom:1px solid #4169E1 ;
	}

.taba:hover{
	color:	#4169E1;
	border-bottom:1px solid #4169E1 ;
}

